<!DOCTYPE html>
<% datetime = DateTime.now %>
<% datetimeS = datetime.strftime(%A) %>
<% datetimeX = datetimeS.to_s %>
<html>
  <head>
    <h1>Today</h1>
  </head>
  <body>
    <p><%= "The date is " + datetimeS %></p>
  </body>
</html>