<!DOCTYPE html>
<% datetime = DateTime.strftime(%A,%B%e,%Y) %>
<% datetimeS = datetime.to_s %>
<html>
  <head>
    <h1>Today</h1>
  </head>
  <body>
    <p><%= "The date is " + datetime %></p>
  </body>
</html>