<!DOCTYPE html>
<% datetime = DateTime.now.strftime(%A,%B %>
<% datetimeS = datetime.to_s %>
<html>
  <head>
    <h1>Today</h1>
  </head>
  <body>
    <p><%= "The date is " + datetimeS %></p>
  </body>
</html>